<app-navbar></app-navbar>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="border">
        <form [formGroup]="categoryForm" class="d-inline-block p-5">
          <div class="form-group">
            <input type="text" class="form-control" name="id" style="display: none;">
          </div>
          <div class="form-group">
            <input hidden type="text" class="form-control" formControlName="id">
          </div>
          <div class="form-group">
            <label>Category Name</label>
            <input type="text" class="form-control" formControlName="categoryName">
          </div>

          <button type="submit" class="btn btn-primary ml-2" (click)="addCategory()">Add</button>
          <button type="button" class="btn btn-warning ml-2" (click)="updateCategory()">Update</button>
        </form>
      </div>
    </div>

    <div class="col-md-8 mt-5">
      <table class="table table-responsive">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Category Name</th>
            <th scope="col">Edit Category</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cat of allCategories; let i=index">
            <th scope="row">{{i}}</th>
            <td>{{cat.categoryName}}</td>
            <td><button type="button" class="btn btn-primary ml-2" (click)="getCategorySingle(cat)">Edit</button></td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>