<div class="container p-5 m-5">
    <div class="row d-flex justify-content-center">
        <div class="col-6">
            <h1 class="text-center">Login</h1>
            <form [formGroup]="login"> 
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                  </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="login.invalid" (click)="submit()">Submit</button>
                <button class="btn btn-secondary" (click)="register()">Register</button>

              </form>
        </div>
    </div>
</div>
