<nav class="navbar navbar-expand-lg navbar-dark bg-warning">
    <a class="navbar-brand" routerLink="/home">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li>
                <a class="nav-link active" *ngIf="getRole()" routerLink="/category">Categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" *ngIf="!getRole()"  routerLink="/product">Products</a>
            </li>
        </ul>
    </div>
    <div class="ml-auto">
        <button class="btn btn-danger" (click)="logout()"> Logout</button>
    </div>
</nav>