<app-navbar></app-navbar>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="border">
                <form [formGroup]="productForm" class="d-inline-block p-5">
                    <div class="form-group">
                        <input type="text" class="form-control"  style="display: none;">
                    </div>
                    <div class="form-group">
                        <label for="inputState">Category</label>
                        <select formControlName="categoryId"  id="inputState" class="form-control">
                            <option *ngFor="let x of categories" value="{{x.id}}">{{x.categoryName}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Product Name</label>
                        <input type="text" class="form-control" formControlName="productName">
                    </div>
                    <div class="form-group">
                        <input hidden type="number" class="form-control" formControlName="id">
                    </div>
                    <div class="form-group">
                        <label>Price</label>
                        <input type="text" class="form-control"formControlName="price">
                    </div>

                    <button type="submit" name="add" class="btn btn-primary ml-2" (click)="addProduct()">Add</button>
                    <button type="submit" class="btn btn-warning ml-2" (click)="updateProduct()">Update</button>
                </form>
            </div>
        </div>

        <div class="col-md-8 mt-5 ">
            <div class="card mb-2" style="width: 100%;" *ngFor="let x of allProducts">
                <div class="row">
                    <div class="col-md-6">
                        <p class="card-text ml d-inline ml-5">{{x.price | currency:'INR'}}</p>
                        <h5 class="card-title p-2 d-inline ml-5">{{x.productName}}</h5>
                        <h5 class="card-title p-2 d-inline ml-5">{{x.Category.categoryName}}</h5>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-primary m-2 mr-5 float-right" (click)="getProductSingle(x)">EDIT</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>