<div class="container p-5 m-5">
    <div class="row d-flex justify-content-center">
        <div class="col-6">
            <h1 class="text-center">Login</h1>
            <form [formGroup]="register"> 
                <div class="form-group">
                    <div class="form-group">
                        <label for="exampleInputPassword1">First Name</label>
                        <input type="first name" formControlName="firstName" class="form-control" id="exampleInputPassword1">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Last Name</label>
                        <input type="last name" formControlName="lastName" class="form-control" id="exampleInputPassword1">
                      </div>
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
                  </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1" >
                </div>
                <div class="form-group" >
                    <label for="exampleInputPassword1">Role Id</label>
                    <select class="form-control"  formControlName="roleId" > 
                        <option *ngFor="let role of roleData" value={{role.id}}>{{role.role}}</option>
                      </select>
                  </div>
                <button type="submit" class="btn btn-primary" [disabled]="register.invalid" (click)="submit(register.value)">Register</button>

              </form>
        </div>
    </div>
</div>
